ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

header {
  display: inline-block;
  overflow: hidden;
}

.poses {
  display: flex;
  flex-direction: row;
}

.container {
  border: 2px solid rgb(219, 215, 191);
  min-height: 100px;
  width: 100%;
  position: relative;
}

.container-active {
  border: 2px solid rgb(163, 160, 140);
  min-height: 100px;
  position: relative;
  width: 100%;
}

.container:hover,
.container-active:hover {
  border: 2px solid rgb(163, 160, 140);
  background-color: rgb(230, 230, 197);
}

.list-name {
  width: fit-content;
  font-weight: bold;
  float: left;
}

.list-name:hover {
  border: 1px solid black;
}

.hide-btn {
  cursor: pointer;
  width: fit-content;
  float: left;
  margin: auto 5px;
}

.hide-btn:hover {
  text-shadow: 2px 2px 4px gray;
}

.remove-ul-btn {
  font-weight: bold;
  color: gray;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  visibility: hidden;
}

.remove-ul-btn:hover {
  color: black;
  text-shadow: 2px 2px 4px gray;
}