* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f8ece4;
  overflow-x: hidden;
}

.input {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1 {
  text-align: center;
}

.toggle-btn {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 50px;
  height: 20px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px gray;
  position: relative;
}

.toggle-btn .circle {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #d6b187;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .circle {
  left: calc(50px - 20px);
}